.container {
  display: flex;
  width: 17rem;
  height: 100%;
  min-height: 4rem;
  cursor: pointer;
  transition: transform 0.2s ease-in;
}

.container:hover {
  transform: scale(1.02);
}

.container.grid {
  flex-wrap: wrap;
  width: 25%;
  margin: auto;
  margin-bottom: 0.5em;
  padding: 0 0.5em;
}

.container.grid .metadata {
  margin-top: 0.7em;
}

.container.list {
  flex: 1 1 100%;
  margin-bottom: 0.5em;
}

.container.list .thumbnail {
  width: 40%;
}

.container.list .metadata {
  height: 100%;
  margin-left: 0.5em;
}

.container.list .title {
  font-size: 0.7rem;
}

.thumbnail {
  width: 100%;
  height: 100%;
}

.metadata {
  display: flex;
  flex-direction: column;
  height: 4rem;
}

.title,
.channel {
  margin: 0;
  font-size: 0.8rem;
  font-family: 'Montserrat';
}

.title {
  font-weight: 600;
}

.channel {
  font-size: 0.6rem;
  margin-top: 0.3em;
}

@media screen and (max-width: 48rem) {
  .container.grid {
    width: 100%;
    margin: 0 0.4em;
  }

  .title {
    font-size: 1.1rem;
  }

  .channel {
    font-size: 0.8rem;
  }

  .container.list .metadata {
    margin-left: 0.5em;
  }

  .container.list .thumbnail {
    width: 40%;
    max-width: 20rem;
  }

  .container.list .title {
    font-size: 1rem;
  }
}
